In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_excel('st2187_coursework_dataset_2022 (1).xlsx')
print(df.head())

   Row ID         Order ID Order Date  Ship Date     Ship Mode Customer ID  \
0   32298   CA-2012-124891 2018-07-31 2018-07-31      Same Day    RH-19495
1   26341    IN-2013-77878 2019-02-05 2019-02-07  Second Class    JR-16210
2   25330    IN-2013-71249 2019-10-17 2019-10-18   First Class    CR-12730
3   13524  ES-2013-1579342 2019-01-28 2019-01-30   First Class    KM-16375
4   47221     SG-2013-4320 2019-11-05 2019-11-06      Same Day     RH-9495

      Customer Name      Segment           City            State  ...  \
0       Rick Hansen     Consumer  New York City         New York  ...
1     Justin Ritter    Corporate     Wollongong  New South Wales  ...
2      Craig Reiter     Consumer       Brisbane       Queensland  ...
3  Katherine Murray  Home Office         Berlin           Berlin  ...
4       Rick Hansen     Consumer          Dakar            Dakar  ...

         Product ID    Category Sub-Category  \
0   TEC-AC-10003033  Technology  Accessories
1   FUR-CH-10003950   Furniture       Chairs
2   TEC-PH-10004664  Technology       Phones
3   TEC-PH-10004583  Technology       Phones
4  TEC-SHA-10000501  Technology      Copiers

                                        Product Name     Sales Quantity  \
0  Plantronics CS510 - Over-the-Head monaural Wir...  2309.650        7
1          Novimex Executive Leather Armchair, Black  3709.395        9
2                  Nokia Smart Phone, with Caller ID  5175.171        9
3                     Motorola Smart Phone, Cordless  2892.510        5
4                     Sharp Wireless Fax, High-Speed  2832.960        8

  Discount    Profit  Shipping Cost  Order Priority
0      0.0  762.1845         933.57        Critical
1      0.1 -288.7650         923.63        Critical
2      0.1  919.9710         915.49          Medium
3      0.1  -96.5400         910.16          Medium
4      0.0  311.5200         903.04        Critical

[5 rows x 24 columns]

In [3]:
df['Order Date'].count()

51290

In [4]:
df.loc[df['Ship Date'].astype(str).str.contains('2020'), 
       'Category'].count()

17492

In [5]:
search_values = ['2017', '2018', '2019', '2020']

counts = {val: 0 for val in search_values}

for val in df['Ship Date']:
    for search_val in search_values:
        if search_val in str(val):
            counts[search_val] += 1

for search_val, count in counts.items():
    print(f"{search_val}: {count}")

2017: 8878
2018: 10925
2019: 13772
2020: 17492

In [6]:
df['Country'].count().sum()#.value_counts()

51290

In [7]:
df.loc[df['Ship Date'].astype(str).str.contains('2019'),
       'Sub-Category'].value_counts()

Binders        1670
Storage        1319
Art            1275
Paper           994
Chairs          967
Phones          896
Furnishings     866
Accessories     836
Envelopes       695
Labels          677
Fasteners       659
Bookcases       642
Supplies        638
Copiers         585
Appliances      458
Machines        365
Tables          230
Name: Sub-Category, dtype: int64

In [8]:
df['Profit'].describe()

count    51290.000000
mean        28.610982
std        174.340972
min      -6599.978000
25%          0.000000
50%          9.240000
75%         36.810000
max       8399.976000
Name: Profit, dtype: float64

In [9]:
grouped = df.groupby(([df.loc[df['Ship Date'].astype(str).str.contains('2020|2019|2018|2017'),
                             'Profit']]))

In [10]:
result = grouped['Country'].sum()

result

Profit
-6599.9780    United States
-4088.3760           Turkey
-3839.9904    United States
-3701.8928    United States
-3399.9800    United States
                  ...
 4630.4755    United States
 4946.3700    United States
 5039.9856    United States
 6719.9808    United States
 8399.9760    United States
Name: Country, Length: 28136, dtype: object

In [18]:
by_profit = result.reset_index().groupby('Country')['Profit'].sum().reset_index()

by_profit = by_profit.sort_values('Profit', ascending=False).reset_index().drop('index', axis=1)
type(by_profit[2:4])

# type(by_profit[:5])



# by_profit['Country'][:5], by_profit['Country'][-5:]

# print("Top 5 countries by profit: " + by_profit[5])

pandas.core.frame.DataFrame